<div style="width: 50%; float: left">
  <div>
    {{textarea name="lyscript" rows=30 cols=75 autofocus=True required=True value=score.script}}
  </div>
</div>

<div style="width: 50%; float: left">
  <div>
    <button type="submit" onclick={{action 'engrave'}}>Engrave</button>
  </div>
  <img src="{{imageUrl}}" style="max-width: 100%">
</div>