<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">LilyPond Editor</a>
</nav>

<div class="container-fluid">

{{outlet}}

    <hr class="row">
  <footer class="row">
    <div class="col">
      <small>LilyPond Editor, musical score writing in your web browser | Copyright © 2016‒2017 <a href="https://github.com/faph">Florenz A. P. Hollebrandse</a>. All rights reserved.</small>        
    </div>
  </footer>
</div>
