<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">Lilypond Music Engraving</a>
</nav>

<div class="container-fluid">

{{outlet}}

    <hr class="row">
  <footer class="row">
    <div class="col">
      <small>Lilypond Music Engraving app | Copyright © 2010‒2017 Florenz A. P. Hollebrandse. All rights reserved.</small>        
    </div>
  </footer>
</div>
